# Banco de Dados MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password

# Servidor Web & Limites PHP
PMA_PORT=8080
PHP_UPLOAD_MAX_FILESIZE=2048M
PHP_POST_MAX_SIZE=2048M
PHP_MEMORY_LIMIT=2048M
PHP_MAX_EXECUTION_TIME=3600
